*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(4,43,95);
  }
  .movieContainer{
    height: 500px;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  figure.movieContainer img{
    height: 100%;
    width:100%;
    object-fit: cover;
   
  }
  
  .logo{
    width: 100px;
  }
  .heading{
    position: absolute;
    bottom: 0;
    right:0;
    left: 0;
    padding: 10px;
    color: #fff;;
    background-color: rgb(4, 57,114);
  }
  
  .overview{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.7s ease-in-out;
    text-align: center;
    padding: 20px;
  
  }
  
  .movieContainer:hover .overview{
    transform: translateY(0);
  }
  

  span.badge.badge-warning.text-white {
    font-size: 16px;
    padding: 5px;

}

::placeholder{
 padding: 10px;
}